.slot {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 22px;
}
